body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.button {
  font-weight: bold;
  font-size: 100%;
  border-radius: 1%;
  border-width: thin;
  border-style: solid;
  border-color: #4b8f29;
  background-color: #116cf5;
  box-shadow: 0px 10px 14px -7px #609fff;
  font-family: arial;
  cursor: pointer;
  padding: 3%;
}

.button:hover {
  text-decoration: underline;
}

#content {
  border-style: solid;
  padding: 1%;
  border-width: medium;
  background-color: lightblue;
}

.edit-post {
  font-weight: bold;
  font-size: 90%;
  border-radius: 5%;
  border-width: thin;
  border-style: solid;
  border-color: black;
  background-color: #e2574d;
  box-shadow: 0px 10px 14px -7px #3e7327;
  font-family: arial;
  cursor: pointer;
}
.edit-post:hover {
  text-decoration: underline;
}

#header {
  display: flex;
  flex-wrap: wrap;
  margin: 2%;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
    margin-top: 20px;
}

.post-css{
  border: 1%;
  border-width: thin;
  border-style: solid;
  margin: 1%;
  padding: 1%;
}

input[type=text] {
    width: 500px;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.logo-button{
  font-weight: bold;
  font-size: 110%;
  border-radius: 5%;
  border-width: thin;
  border-style: solid;
  border-color: black;
  background-color: #5ef964;
  font-family: arial;
  cursor: pointer;
  padding: 2%;
}

.logo {
  width: 80%;
}

.login-details {
  width: 20%;
  text-align: center;
  margin-top: 3%;
}

.main{
  margin:3%;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}
